<div class="card">
  <div class="card-header">{{vehiculo.linea}}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead class="table-dark">
              <tr>
                <th scope="col">Modelo</th>
                <th scope="col">Referencia</th>
                <th scope="col">Marca</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{vehiculo.modelo}}</td>
                <td>{{vehiculo.referencia}}</td>
                <td>{{vehiculo.marca}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />

